/* GLOBAL STYLES*/

/* COLOR PALETTE
--pistachio: #8ed081ff;
--dim-gray: #656565ff;
--flame: #de541eff;
--pink-lavender: #d7b9d5ff;
--orchid-pink: #f4cae0ff;
--dark byzantium: #4e2d4b;
*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  font-family: "georgia", serif;
  color: #683c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #8ed081ff;
}

header {
	margin-top: 2.5em;
}

h1 {
  color: #4e2d4b;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

#description {
	color: #4e2d4b;
	margin-bottom: 2.5em;
}

form {
	background: #f4cae0ff;
	padding: 2.5em;
	border-radius: 10px;
}

.field-styling {
 	height: 2em;
	width: 100%;
	padding: 1.25em;
	border: 1px solid #fff;
	border-radius: 5px;
}

.form-field, .form-field > p {
	margin-bottom: 1.25em;
}

input, select, textarea, button {
	font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.checkbox-label, .radio-label {
	min-height: 2em;
}

 .input-radio, .input-checkbox {
	margin-right: 10px;
	min-height: 1.25rem;
	min-width: 1.25rem;
}

textarea, button {
	width: 100%;
}

textarea {
	border-radius: 5px;
	border-style: none;
	min-height: 120px;
}

button {
	padding: 0.5em;
	background: #fff;
	border-radius: 5px;
	border-style: none;
}



/* FLEX CONTAINER*/

#wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.radio-label, .checkbox-label {
	display: flex;
}

/* MEDIA QUERIES*/

@media screen and (max-width: 787px) {
	#wrapper {
		padding: 0;
	}

	header {
		padding: 0 0.5em;
	}

	#description {
		text-align: center;
	}

	form {
		padding: 0.5em;
	}
}
