/* GLOBAL STYLES*/

/* CSS HEX 
--pistachio: #8ed081ff;
--dim-gray: #656565ff;
--flame: #de541eff;
--pink-lavender: #d7b9d5ff;
--orchid-pink: #f4cae0ff; 
*/

body {
  font-family: "georgia", serif;
  color: #333333;
  font-weight: 400;
  line-height: 1.5;
  background-color: #8ed081ff;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

